server:
  port: 9090

spring:
  application:
    name: stats

app:
  name: "Stats Service"
  version: "1.0.0"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

        eureka:
          client:
            service-url:
              defaultZone: http://localhost:8761/eureka/
            fetch-registry: true
            register-with-eureka: true
          instance:
            prefer-ip-address: true
            instance-id: ${spring.application.name}:${server.port}